<div class="container d-flex justify-content-center">
    <script type="module" src="/javascripts/swipeGame.component.js"></script>
    <style>
        /* center the buttons n shit */
    </style>
    <script type="module" src="/javascripts/datingCard.component.js"></script>
    <swipe-game>
        <div id="cardSpace"></div>
        <button class="btn btn-dark start-reservation gradient-bg">
            <i class="bi bi-hand-thumbs-down-fill"></i>
        </button>
        <button class="btn btn-dark start-reservation gradient-bg">
            <i class="bi bi-hand-thumbs-up-fill"></i>
        </button>
    </swipe-game>
</div>
