<!-- Button trigger modal -->
<!-- Uncomment the lines below to get the button-->

 
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" onclick="editVehicle(this)">
    Edit
</button>


<script>
    function editVehicle(editButton) {
        const vehicleCard = editButton.closest('.card');
        const vehicleId = vehicleCard.getAttribute('vehicle_id');
    
        fetch(`/vehicles/${this.vehicle_id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                } else {
                // do something to handle failed request
                console.log(response);
                }
            })
            .then((vehicleData) => {
            // display edit form and fill with data here
            // Populate the form fields with the vehicle's existing data
            document.getElementById('type').value = vehicleData.type;
            document.getElementById('category').value = vehicleData.details.category ;
            document.getElementById('price').value = vehicleData.hourlyPrice;
            document.getElementById('branch').value = vehicleData.branch;
            document.getElementById('make').value = vehicleData.details.make;
            document.getElementById('model').value = vehicleData.details.model;
            document.getElementById('year').value = vehicleData.details.year;
            document.getElementById('colour').value = vehicleData.details.colour;
            document.getElementById('seats').value = vehicleData.details.seats;
            document.getElementById('doors').value = vehicleData.details.doors;
            document.getElementById('mileage').value = vehicleData.details.mileage;
            document.getElementById('isAutomatic').value = vehicleData.details.isAutomatic;
            document.getElementById('engine').value = vehicleData.details.engineType.type;
            console.log(data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        
    }

</script>
    
  
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Edit Vehicle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>  
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select class="form-control" id="type" required>
                            <option value="">Select Type</option> <!-- Placeholder option -->
                            <option value="car">Car</option>
                            <option value="suv">SUV</option>
                            <option value="van">Van</option>
                            <option value="truck">Truck</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control" id="category" required>
                            <option value="">Select Category</option> <!-- Placeholder option -->
                            <option value="compact">Compact</option>
                            <option value="standard">Standard</option>
                            <option value="intermediate">Intermediate</option>
                            <option value="full-size">Full-size</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" id="price" placeholder="Price" required>
                    </div>
                    <div class="form-group">
                        <label for="branch">Branch</label>
                        <input type="text" class="form-control" id="branch" placeholder="Branch" required>
                    </div>
                    <div class="form-group">
                        <label for="make">Manufacturer</label>
                        <input type="text" class="form-control" id="make" placeholder="Manufacturer">
                    </div>
                    <div class="form-group">
                        <label for="model">Model</label>
                        <input type="text" class="form-control" id="model" placeholder="Model">
                    </div>
                    <div class="form-group">
                        <label for="year">Year</label>
                        <input type="number" class="form-control" id="year" placeholder="Year">
                    </div>
                    <div class="form-group">
                        <label for="colour">Colour</label>
                        <input type="text" class="form-control" id="colour" placeholder="Colour">
                    </div>
    
                    <div class="form-group">
                        <label for="seats">Number of Seats</label>
                        <input type="number" class="form-control" id="seats" placeholder="Seats">
                    </div>
    
                    <div class="form-group">
                        <label for="doors">Number of Doors</label>
                        <input type="number" class="form-control" id="doors" placeholder="Doors">
                    </div>
    
                    <div class="form-group">
                        <label for="mileage">Mileage (km)</label>
                        <input type="number" class="form-control" id="mileage" placeholder="Mileage">
                    </div>
    
                    <div class="form-group">
                        <input type="radio" id="automatic" name="isAutomatic">
                        <label class="form-check-label" for="automatic">Automatic</label>
                        <input type="radio" id="notAutomatic" name="isAutomatic">
                        <label class="form-check-label" for="notAutomatic">Not Automatic</label>
                    </div>

                    <div class="form-group">
                        <label for="engine">Engine Type</label>
                        <select class="form-control" id="engine">
                            <option value="">Select Engine Type</option> <!-- Placeholder option -->
                            <option value="gas">Gas</option>
                            <option value="electric">Electric</option>
                            <option value="hybrid">Hybrid</option>
                        </select>
                    </div>                    

                    <div class="form-group">
                        <label for="size">Size (Litres)</label><br>
                        <input type="number" class="form-control" id="size" placeholder="Size"><br>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>