<div class="container">
    <div class="row">
       <% vehicleList.forEach(function(vehicle) { %>
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <%- include('./row', { vehicle }) %>
            </div>
        <% }) %>
    </div>
</div>