<div class="container py-2 my-3 rounded bg-light d-flex justify-content-end">
<%- include('./newButton') %>
</div>
<style>
    #vehicle-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
    }
</style>
<div class="container" id="vehicle-list">
       <% vehicleList.forEach(function(vehicle) { %>
                <%- include('./row', { vehicle }) %>
        <% }) %>
</div>
<%- include('./form') %>
