<div class="container py-2 my-3 rounded bg-light d-flex justify-content-end">
<%- include('./new_button') %>
</div>
<div class="container">
    <div class="row" id="vehicle-list">
       <% vehicleList.forEach(function(vehicle) { %>
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <%- include('./row', { vehicle }) %>
            </div>
        <% }) %>
    </div>
</div>
<%- include('./form') %>
