<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#newVehicleModal">
    <i class="bi bi-plus-lg"></i>
</button>

<%- include('./form', { purpose: 'creating', modalId: 'newVehicleModal', formId: 'create-vehicle', title: "New Vehicle", submit: "Create" }) %>