<button id="newVehicleButton" type="button" class="btn btn-dark">
    <i class="bi bi-plus-lg"></i>
</button>
<script>
    document.querySelector('#newVehicleButton').addEventListener('click', () => {
        const vehicleForm = document.querySelector('vehicle-form');
        vehicleForm.mode = 'creating';
        vehicleForm.modal.show();
    });
</script>
