<script type="module" src="/javascripts/user/emailForm.component.js"></script>
<email-form class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Existing User</h1>
            </div>
            <div class="modal-body">
                <label for="email" class="form-label">Email</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    required
                >
                <p class="form-text">Ask the customer for the email associated with their <span class="gradient-text">Gas</span> account.</p>
            </div>
            <div class="modal-footer">
                <button id="continue" class="btn btn-success">Continue</button>
            </div>
        </div>
    </div>
</email-form>