<button id="new-user-button" type="button" class="btn btn-dark">
    <i class="bi bi-plus-lg"></i>
</button>
<script>
    document.querySelector('#new-user-button').addEventListener('click', () => {
        const userForm = document.querySelector('user-form');
        userForm.mode = 'creating';
        userForm.modal.show();
    });
</script>