<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/font/bootstrap-icons.css" />
        <title>Gas</title>
    </head>
    <body>
        <%- include('partials/header') %>
        <%- body %>
        <%- include('partials/footer') %>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <%- include('partials/toast') %>
    </body>
</html>
