<div class="container py-2 my-3 rounded bg-light d-flex justify-content-end">
    <%- include('./newButton') %>
</div>
<style>
    #reservation-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
</style>
<div class="container d-flex align-items-center" id="reservation-list">
    <% reservationList.forEach(function(reservation) { %> <%- include('./row', {
    reservation }) %> <% }) %>
</div>
<%- include('./form') %>