<div class="container py-2 my-3 rounded bg-light d-flex justify-content-end">
    </div>
    <style>
        #reservation-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 2rem;
        }
    </style>
    <div class="container" id="reservation-list">
           <% reservationList.forEach(function(reservation) { %>
                    <%- include('./row', { reservation }) %>
            <% }) %>
    </div>