<%- include('./filterBar') %>
<style>
    #reservation-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
</style>
<div class="container d-flex align-items-center" id="reservation-list">
    <% reservationList.forEach(function(reservation) { %> <%- include('./row', {
    reservation }) %> <% }) %>
</div>
<!-- Reservation list container -->


<%- include('./form') %>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
