<script type="module" src="/javascripts/checkoutForm.component.js"></script>
<checkout-form class="container" reservation-id="<%= reservationId %>">
    <div class="row">
        <form class="col-md-8 offset-md-2">
            <div class="form-group mb-3">
                <label for="type" class="mb-1">Damage Description</label>
                <textarea class="form-control"></textarea>
            </div>
            <form class="col-md-8 offset-md-2">
                <div class="form-group mb-3">
                    <label for="type" class="mb-1">Estimated Cost</label>
                    <textarea class="form-control"></textarea>
                </div>

            <div class="form-group mb-3">
                <label for="paymentMethodId" class="mb-1">Payment Method</label>
                <select
                    class="form-control"
                    id="paymentMethodId"
                    name="paymentMethodId"
                    required
                >
                    <option value="" selected>Credit Card</option>
                    <option value="" selected>Cash</option>
                    <option value="" disabled selected>
                        Select Payment Method
                    </option>
                </select>
            </div>
            <button id="generateBill" type="button" class="btn btn-success mb-3">
                <i class="bi bi-receipt"></i>
                Generate Final Bill
            </button>
            <div id="billTarget"></div>
        </form>
    </div>
</checkout-form>
