<script type="module" src="/javascripts/checkoutForm.component.js"></script>
<checkout-form class="container" reservation-id="<%= reservationId %>">
        <div class="container">
            <h1 class="mb-4 text-center">Check-Out Process</h1>
            <div class="card">
                <div class="card-body">
                    <p>Please inspect the vehicle with the customer. Record all new damages, take photos, and fill out the inspection form.</p>
                    <p>Here are the previous damages:<br> </p>
                    <!--@todo add previous damages here-->
    
                    <div class="form-group">
                        <label for="damages">Please provide a list of any new damages to the car, if applicable.</label>
                        <textarea class="form-control" id="damages" rows="3"></textarea>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Add an image to show any damages, if applicable.</label>
                        <input class="form-control" type="file" id="formFile">

                    </div>

                    <div class="row align-items-center">
                        <div class="col-auto mb-3">
                            <label for="estimatedCost" class="form-label">Estimated Cost:</label>
                        </div>
                        <div class="col-auto mb-3">
                            <input type="number" class="form-control form-control-sm" id="estimatedCost" name="estimatedCost" placeholder="Estimated Cost">
                        </div>
                    </div>  

                    <div class="form-group mb-3">
                        <label for="paymentMethodId" class="mb-1">Payment Method</label>
                        <select
                            class="form-control"
                            id="paymentMethodId"
                            name="paymentMethodId"
                            required
                        >
                            <option value="" selected>Credit Card</option>
                            <option value="" selected>Cash</option>
                            <option value="" disabled selected>
                                Select Payment Method
                            </option>
                        </select>
                    </div>
                    <button type="button" id="generateBill" class="btn btn-success">
                        <i class="bi bi-receipt"></i>
                        Generate Final Bill
                    </button>
    
                </div>
            </div>
            <div class="card border-0">
                <div class="card-body">
                    <div id="billTarget" class="mb-3"></div>
                    <button id="chargeButton" type="button" class="btn btn-success mb-3" style="display: none !important;">
                        <i class="bi bi-receipt"></i>
                        Charge Client & Return Deposit
                    </button>
                </div>
            </div>
        </form>
    </div>
</checkout-form>
