<script type="module" src="/javascripts/reservationFinder.component.js"></script>

<div class="d-flex justify-content-between mb-3">
    <div class="input-group w-50">
        <input type="text" class="form-control" id="search-email" placeholder="Search by User Email">
        <button type="button" class="btn btn-dark" id="search-button">Search</button>
    </div>
</div>

<!-- 
    when they press enter or click search,
    refresh current page with added parameter to url: ?email=<input-from-searchbox>
    also: in connectedCallback of ur new component, check for email url parameter, and place it's value in the box if it exists.
 -->



