<script type="module" src="/javascripts/reservationFilter.component.js"></script>
<reservation-filter class="d-flex justify-content-start mb-3"> <!-- Align to the left -->
    <div class="input-group w-75"> <!-- Extend space to 75% of parent width -->
        <input type="text" class="form-control" id="search-email" placeholder="Search by User Email">
        <button type="button" class="btn btn-dark" id="search-button">Search</button>
    </div>
</reservation-filter>




